<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新增足迹</title>
    <script src="/js/jquery-3.4.1.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js" ></script>
    <link rel="stylesheet" href="../css/me.css">

</head>

<body>
    <!-- 导航 -->
  <nav th:insert="admin/fragments::menu(4)"></nav>
<!-- 二级导航 -->
    <div class="ui attached pointing menu">
        <div class="ui container">
            <a class="item active">新增</a>
        </div>

  </div>
  <!-- 中间内容 -->
  <div class="m-container-small m-padding-tb-big">
  
    <div class="ui container">


        <div class="ui left labeled input"><label  class="ui teal basic label">城市</label>
            <input type="text" name="name" id="cityname" maxlength="6"  placeholder="城市"></div>
      </div>
      <div class="ui left labeled input"><label  class="ui teal basic label">主题</label>
          <input type="text" name="name" id="title" maxlength="10"  placeholder="主题"></div>
  </div>
      <div class="ui error message"></div>
      <!-- 三个按钮部分 -->
      <div class="ui right aligned container">
        <button class="ui button" type="button" onclick="window.history.go(-1)">返回</button>
        <button class="ui teal button" id="buttonsub">提交</button>
      </div>

     </div>
    </div>


  <!-- 底部 -->
</body>
<script>
 $(".m-control-show").click(function(){
     $('.m-item').toggleClass('m-mobile-hide');
 });

 //下拉注销控制
 $('.ui.dropdown').dropdown({
   on:'hover'
 });
//表单验证
$("#buttonsub").click(function () {
    if ($("#cityname").val()==''||$('#cityname').val()==null){
        alert("输入为空");
        return false;
    }else {
        $.ajax({
            url: "/admin/footmark_input",
            method: 'post',
            data: {
                city: $("#cityname").val(),
                title: $("#title").val()
            },
            success:function (data) {
                if (data=='1'){
                    alert("添加成功");
                    $("#cityname").val("");
                    $("#title").val("");
                }else {
                    alert("添加失败");
                }

            }

        });
    }
});


</script>  

</html>