<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新增标签</title>
    <script src="/js/jquery-3.4.1.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js" ></script>
    <link rel="stylesheet" href="../css/me.css">
    <link rel="stylesheet" href="../lib/editormd/css/editormd.min.css">
    <script src="../lib/editormd/editormd.min.js"></script>
</head>

<body>
    <!-- 导航 -->
  <nav th:insert="admin/fragments::menu(3)"></nav>
<!-- 二级导航 -->
    <div class="ui attached pointing menu">
        <div class="ui container">

            <a class="item active">新增</a>
        </div>

  </div>
  <!-- 中间内容 -->
  <div class="m-container-small m-padding-tb-big">
  
    <div class="ui container">


        <div class="ui left labeled input"><label  class="ui teal basic label">名称</label>
            <input type="text" name="name" id="typename" placeholder="分类名称"></div>
      </div>
      <div class="ui error message"></div>
      <!-- 三个按钮部分 -->
      <div class="ui right aligned container">
        <button class="ui button" type="button" onclick="window.history.go(-1)">返回</button>
        <button class="ui teal button" id="buttonsub">提交</button>
      </div>

     </div>
    </div>


  <!-- 底部 -->
</body>
<script>
 $(".m-control-show").click(function(){
     $('.m-item').toggleClass('m-mobile-hide');
 });

 //下拉注销控制
 $('.ui.dropdown').dropdown({
   on:'hover'
 });
//表单验证
$("#buttonsub").click(function () {
    if ($("#typename").val()==''||$('#typename').val()==null){
        alert("输入为空");
        return false;
    }else {
        $.ajax({
            url: "/admin/tag_input",
            method: 'post',
            data: {
                "name": $("#typename").val()
            },
            success:function (data) {
                if (data=='1'){
                    alert("添加成功");
                    $("#typename").val("");
                }else {
                    alert("添加失败");
                }

            }

        });
    }
});


</script>  

</html>