<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragment :: head('首页')">
</head>
<script src="./js/jquery-3.4.1.js"></script>
<body>
    <!-- 导航 -->
    <nav th:insert="fragment :: menu(1)"></nav>
  <!-- 中间内容 -->
  <div class="m-padding-tb-large">
      <!-- container使页面对于不同尺寸有较好的适配 -->
      <div class="ui container">
    <div class="ui stackable grid">
         <!-- 左边十一份    -->
        <div class="eleven wide column">
            <!-- 头部 -->
            <div class="ui top attached segment">

                <div class="ui middle aligned two column grid">
                  <div class="column">
                      <div class="ui teal header">博客</div>
                  </div>
                  <div class="column right aligned">
                        共<h3 class="ui orange header m-inline-block">14</h3>篇
                  </div>
                </div>
            </div>
            <!-- blog列表 -->
            <div class="ui attached   segment">
                <div class="ui padded  vertical segment">
                    <div class="ui grid">
                        <div class="eleven wide column ">
                                <h3 class="ui header">你理解什么是理论吗</h3>
                                <p>aaaaaaaaaaaaasssssssssssssssss</p>
                                <p>aaaaaaaaaaaaasssssssssssssssss</p>
                                <p>aaaaaaaaaaaaasssssssssssssssss</p>
                                <p>aaaaaaaaaaaaasssssssssssssssss</p>
                                <p>aaaaaaaaaaaaasssssssssssssssss</p>
                                
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                            <!-- 头像 更新时间 浏览次数 -->
                                            <div class=" ui horizontal link list">
                                                <div class="item">
                                                    <img src="./images/testgray.jpg" alt="" class="ui avatar image">
                                                    <div class="content"><a href="#" class="hearer">chain</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i>2017-10-01
                                                    <i class="item eye icon"></i>2342
                                                </div>
                                               
                                            </div>
                                    </div>
                                    <div class="   right aligned five wide column">
                                        <a href="#" target="_blank" class="ui teal basic label m-padded-mini">认知升级</a>
                                        
                                    </div>
                                </div>
                        </div>
                        <!-- 存放图片 -->
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <!-- <img src="http://dmimg.5054399.com/allimg/pkm/pk/22.jpg" alt="" width="400px" height="800px"> -->
                                <div class="ui segment " style="width: 800; height: 400;">pic</div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="ui padded  vertical segment">
                    <div class="ui grid ">
                        <div class="eleven wide column ">
                                <h3 class="ui header">你理解什么是理论吗</h3>
                                <p>aaaaaaaaaaaaasssssssssssssssss</p>
                                <p>aaaaaaaaaaaaasssssssssssssssss</p>
                                <p>aaaaaaaaaaaaasssssssssssssssss</p>
                                <p>aaaaaaaaaaaaasssssssssssssssss</p>
                                <p>aaaaaaaaaaaaasssssssssssssssss</p>
                                
                                <div class="ui grid">
                                    <div class="eleven wide column">
                                            <!-- 头像 更新时间 浏览次数 -->
                                            <div class=" ui horizontal link list">
                                                <div class="item">
                                                    <img src="./images/testgray.jpg" alt="" class="ui avatar image">
                                                    <div class="content"><a href="#" class="hearer">chain</a></div>
                                                </div>
                                                <div class="item">
                                                    <i class="calendar icon"></i>2017-10-01
                                                    <i class="item eye icon"></i>2342
                                                </div>
                                               
                                            </div>
                                    </div>
                                    <div class="   right aligned five wide column">
                                        <a href="#" target="_blank" class="ui teal basic label m-padded-mini">认知升级</a>
                                        
                                    </div>
                                </div>
                        </div>
                        <!-- 存放图片 -->
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <!-- <img src="http://dmimg.5054399.com/allimg/pkm/pk/22.jpg" alt="" width="400px" height="800px"> -->
                                <div class="ui segment " style="width: 800; height: 400;">pic</div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <!-- 底部 -->
            <div class="ui bottom attacher segment">
                <div class="ui top attached segment">

                    <div class="ui middle aligned two column grid">
                      <div class="column">
                          <a href="" class="ui mini teal basic button">上一页</a>
                      </div>
                      <div class="column right aligned">
                        <a href="" class="ui mini teal basic button">下一页</a>
                      </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- 右边部分 -->
        <div class="five wide column">
            <h4 class="ui segments">
                <div class="ui secondary  segment">
                    <div class="ui grid">
                        <div class="ten wide column">
                           <i class="idea icon"></i>分类
                        </div>
                        <div class="six wide column right aligned">
                            <a href="#" target="_blank">more <i class="angle double right icon"></i></a>
                        </div>
                    </div>
                </div>
                <!-- 分类 -->
                <div class="ui teal segment">
                    <div class="ui fluid vertical menu">
                        <a href="#" class="item">学习日志<div class="ui teal basic left pointing label">13</div></a>
                        <a href="#" class="item">学习日志<div class="ui teal basic left pointing label">13</div></a>
                        <a href="#" class="item">学习日志<div class="ui teal basic left pointing label">13</div></a>
                        <a href="#" class="item">学习日志<div class="ui teal basic left pointing label">13</div></a>
                        <a href="#" class="item">学习日志<div class="ui teal basic left pointing label">13</div></a>
                        
                    </div>
                </div>
                <!-- 标签 -->
                <div class="ui segments">
                    <div class="ui secondary  segment">
                        <div class="ui grid">
                            <div class="ten wide column">
                               <i class="tags icon"></i>标签
                            </div>
                            <div class="six wide column right aligned">
                                <a href="#" target="_blank">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment teal ">
                        <a class="ui teal basic left pointing label m-margin-tb-tiny">方法论<div class="detail">12</div></a>
                        <a class="ui teal basic left pointing label m-margin-tb-tiny">方法论<div class="detail">12</div></a> <a class="ui teal basic left pointing label">方法论<div class="detail">12</div></a>
                        <a class="ui teal basic left pointing label m-margin-tb-tiny">方法论<div class="detail">12</div></a>

                    </div>
                </div>

                <!-- 最新推荐 -->
                <div class="ui segments">
                    <div class="ui secondary  segment">
                       
                            <div class="">
                               <i class="bookmark icon"></i>推荐
                            </div>
                            <div class="ui segment ">
                                <a href="#">用户故事</a>
                            </div>
                            <div class="ui segment  ">
                                <a href="#" class=" m-black">用户故事</a>
                            </div>
                            <div class="ui segment">
                                <a href="#">用户故事</a>
                            </div>
                            <div class="ui segment">
                                <a href="#">用户故事</a>
                            </div>
                    </div>
                </div>

                <!-- 二维 -->
                <h4 class="ui horizontal divider header">
                    扫码关注我
                </h4>
                <div class="ui card">
                    <img src="./images/testgray.jpg" alt="" class="ui round image">
                </div>

            </div>
        </div>
    </div>
</div>

  </div>





  <!-- 底部 -->
<footer th:insert="fragment::footer" ></footer>


</body>
<script>
    $(".m-control-show").click(function(){
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>
</html>