<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head th:insert="bootstraphtml/fragments::head('想法')"></head>
<body>
<link href="/css/footerbottom.css" th:href="@{/css/footerbottom.css}" rel="stylesheet">

<nav th:insert="bootstraphtml/fragments::navigation(6)"></nav>
<!-- 中间内容 -->


<input id="something_count" th:value="${something_count}" type="hidden">
<div class="container"  id="something_container">

    <div class="row">
        <div id="something_list" th:fragment="something_list">

                <input type="hidden" th:value="${currentPage}" role="pc_currentPage" id="currentPage"/>
            <div class="col-sm-7" >
            <div class="panel  panel-info" th:each="something:${somethings}">
                <div class="panel-heading">
                    <div class="row">
                        <input type="hidden" th:value="${something!=null?something.id:0}"  name="currentId" >
                        <div class="col-xs-6"> <h3  th:text="${something.name}"  class="panel-title">孤独的星星 </div>
                        <div class="col-xs-6 text-right" th:text="${#dates.format(something.createTime,'yyyy-MM-dd HH:mm')}"> 2019-1-1</div>
                    </div>
                </div>
                <div class="panel-body" th:text="${something.content}">
                    天好暗啊
                    天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊
                    天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊
                    天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊天好暗啊
                </div>
            </div>
        </div>
        </div>
            <div class="row visible-xs-inline">
            <div class=" btn-group btn-group-justified" role="group" >
                <a href="#"  id="pre_some"  class="btn">上一条</a>
                <a href="#"  id="last_some" class="btn">下一条</a>
            </div>
        </div>



        <div class="col-sm-4">

            <form class="form-horizontal" method="post" >
                <div class="form-group">
                    <label  class="col-sm-2 control-label">昵称</label>
                    <div class="col-sm-10">
                        <input  id="nickname"  type="text" class="form-control"  placeholder="输入昵称...">
                    </div>
                </div>
                <div class="form-group">
                    <label  class="col-sm-2 control-label">内容</label>
                    <div class="col-sm-10">
                        <textarea  id="content" class="form-control" rows="3" style="resize: none;" placeholder="匿名 /想法/吐槽/留言..."></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                        <button type="button"  id="nicknameBtn" class="btn btn-default">随机昵称</button>

                        <button type="button"  id="mobile_submit_button" class="  visible-xs-inline  btn btn-default">提交</button>
                        <button type="button" id="pc_submit_button" class="  hidden-xs btn btn-default">提交</button>
                    </div>
                </div>
            </form>

        </div>


        <div class="row hidden-xs">
            <div class="col-sm-6">
                <div class=" btn-group btn-group-justified" role="group" >
                                        <a href="#"  id="pc_pre"  class="btn">上一页</a>
                                        <a href="#"  id="pc_last"   class="btn">下一页</a>
                </div>
            </div>

        </div>

    </div>

</div>





<footer th:insert="bootstraphtml/fragments::footer"></footer>
<th:block th:insert="bootstraphtml/fragments::winkfooter"></th:block>



</body>
<script>

    var initSomething=function(){
        var windowWidth = $(window).width();
        var pc=  $("#pc_submit_button");

        if(windowWidth>=640){
            $("#something_list").load("/load");
        }
        else {
            $("#something_list").load("/mobile_load");

        }
    }
    initSomething();

    //按钮点击加载
    $("#pc_submit_button").click(function () {
        var nickname=$("#nickname").val();
        var content=$("#content").val();
        if (nickname==''||content==''){
            alert(" 昵称或内容未填写");
            return;
        }
        $("#something_list").load("/pc_something",
            {
            name:nickname,
            content:content
        },function (response,status,xhr) {
                $("#content").val('');
                $("#content").attr("placeholder","提交成功");
        });
    });

    //PC上下页
    $("#pc_pre").click(function () {
        var currentPage=$("#currentPage").val();
        var allPage=$("#something_count").val()%8==0?$("#something_count")/8:($("#something_count")/8 +1 );
        if (currentPage==1) {
            alert("已在第一页")
            return;
        }

        var next=currentPage-1;
        var  url="/something/"+next;
        $("#something_list").load(url);
    });
    $("#pc_last").click(function () {
        var currentPage=$("#currentPage").val();
        var allPage=$("#something_count").val()%8==0?$("#something_count")/8:($("#something_count")/8 +1 );
        if(currentPage==allPage){
            alert("已在尾页");
            return;
        }
        var next=  parseFloat( currentPage) + 1;
        var  url="/something/"+next;
        $("#something_list").load(url);
    });


    //mobile
    $("#pre_some").click(function () {
        var currentPage=$("#currentPage").val();
        var allPage=$("#something_count").val()
        if (currentPage==1) {
            alert("已在第一页")
            return;
        }

        var next=currentPage-1;
        var  url="/mobile_something/"+next;
        $("#something_list").load(url);
    });
    $("#last_some").click(function () {
        var currentPage=$("#currentPage").val();
        var allPage=$("#something_count").val()
        if(currentPage==allPage){
            alert("已在尾页");
            return;
        }
        var next=  parseFloat( currentPage) + 1;
        var  url="/mobile_something/"+next;
        $("#something_list").load(url);
    });
    //按钮点击加载
    $("#mobile_submit_button").click(function () {
        var nickname=$("#nickname").val();
        var content=$("#content").val();
        if (nickname==''||content==''){
            alert(" 昵称或内容未填写");
            return;
        }
        $("#something_list").load("/mobile_something",
            {
                name:nickname,
                content:content
            },function (response,status,xhr) {
                $("#content").val('');
                $("#content").attr("placeholder","提交成功");
            });
    });

    $("#nicknameBtn").click(function () {
        $.ajax({
           url: "/getRandName",
            async:true,
            success: function (data) {
                $("#nickname").val("");
                $("#nickname").val(data)
            }
        });
    });



</script>
<script>
    $("#recommendBlog_container").load("/footer");
</script>
</html>