<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head th:insert="bootstraphtml/fragments::head('足迹')"></head>
<style>
    .height-map{
        height: calc(100% - 175px);
    }
</style>
<body style="height: 100%">
<!--<link href="/css/footerbottom.css" th:href="@{/css/footerbottom.css}" rel="stylesheet">-->

<nav th:insert="bootstraphtml/fragments::navigation(5)"></nav>
<!-- 中间内容 -->


<!--<div th:text="${footmarks}"></div>-->


<!--<div class="container">-->
<!--    <div class="jumbotron" style="background-color: black;">-->
<!--        <div class="hidden" id="tip">未完待续<br/>...</div>-->
<!--        <div class="text-center" id="tipshow" style="font-size: large; color: white;" ></div>-->

<!--    </div>-->
<!--</div>-->

<div class="container " style="height: 100%;" role="containMapWithFootmarker">
    <div id="container" style="height: 100%" ></div>
</div>







<!--<footer th:insert="bootstraphtml/fragments::footer"></footer>-->
<!--<th:block th:insert="bootstraphtml/fragments::winkfooter"></th:block>-->



</body>
<script>
    // $("#recommendBlog_container").load("/footer");
    // $.wink("#tip","#tipshow",false);
</script>
<script src="https://webapi.amap.com/maps?v=1.4.15&key=a266ad5c08f3711e6ac547dde6c998eb"></script>
<script th:inline="javascript">
    var cities = [[${footmarks}]];//获取城市
    //地图
    var map=null;//地图
    var marker=null;//标记
    var geocoder=null;//编码器
    var citysArray=new Array();//城市组 --maker
    var cityArray=new Array(2);//城市经纬度
    var initMap=function(){
        map = new AMap.Map('container', {
            zoom:5
        });
        map.setMapStyle('amap://styles/macaron');
        map.setFitView();
    }
    initMap();//初始化地图
    // alert("地图以初始化完毕");
    var initMarker=function(lng,lat,titleCon){
        var marker = new AMap.Marker({
            position: new AMap.LngLat(lng, lat),   // 经纬度对象，也可以是经纬度构成的一维数组[116.39, 39.9]
            title:  titleCon
        });
        return marker;
    }
    var initGeocoder=function(){
        AMap.plugin('AMap.Geocoder', function() {
            geocoder = new AMap.Geocoder();
        });
        // alert("编码器初始化完毕");
    }
    initGeocoder();
    // console.log(geocoder);
    var initLngLat=function(City,title){
        var lng=0;
        var lat=0;
        cityArray= geocoder.getLocation(City, function(status, result) {
            if (status == 'complete' && result.info == 'OK') {
                // result中对应详细地理坐标信息
                acityArray=new Array();
                lng = result.geocodes[0].location.lng;
                lat = result.geocodes[0].location.lat;
                // acityArray[0]=lng;
                // acityArray[1]=lat;
               //针对acityArray进行标记到地图上
                var marker=initMarker(lng,lat,title);
                map.add(marker);
            }
            else{
                console.log("has_city-API_use_fail");
            }
        });
    }

    var generateAMap=function (cities) {
        for (var i=0;i<cities.length;i++){
            var city=cities[i].city;
            var title=cities[i].title;
            initLngLat(city,title);
        }
    }
    generateAMap(cities);

</script>
</html>